@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$font-stack: -apple-system, "Lato", sans-serif;

body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  background: url("../images/playstation-pattern.png");

  #logo {
    width: 10rem;
  }
  .container {
    max-width: 900px;
    padding: 0 16px;
    margin: 50px auto 0;

    img {
      width: 20rem;
    }

    h1 {
      margin: 0;
      text-align: center;
      color: #272727;
      font-family: $font-stack;

      span {
        color: #999;
      }
    }
  }

  .text-center {
    text-align: center;
  }

  #password_icon,
  #copy_icon {
    width: 20px;
  }

  #random_password {
    display: inline-block;
    margin: 0 10px;
  }
}
